<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3 id="newOrderCount"></h3>

                        <p>新規注文</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="/orders" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3 id="exitRate">0</h3>

                        <p>離脱率</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3 id="newUserCount">0</h3>

                        <p>ユーザー登録</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3 id="newTransactionCount">0</h3>

                        <p>取引数</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->

        <!-- Main row -->
        <div class="row">
            <input type="hidden" name="waiterEndpoint" value="<%= process.env.WAITER_ENDPOINT %>">
            <input type="hidden" name="telemetryEndpoint" value="<%= process.env.TELEMETRY_API_ENDPOINT %>">
            <input type="hidden" name="projectId" value="<%= process.env.PROJECT_ID %>">
            <!-- Left col -->
            <section class="col-lg-7 connectedSortable">
                <!-- solid sales graph -->
                <div class="card bg-dark-gradient" id="visitors">
                    <div class="card-header no-border">
                        <h3 class="card-title">
                            取引訪問者数
                        </h3>

                        <div class="card-tools">
                            <div class="btn-group">
                                <button type="button" class="btn bg-dark btn-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <a target="_blank" href="/waiter/rules" class="dropdown-item">入場制限設定を見る</a>
                                </div>
                            </div>
                            <button type="button" class="btn bg-dark btn-sm" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn bg-dark btn-sm" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart" id="visitorsChart" style="height: 250px;"></div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer bg-transparent">
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->

                <!-- solid sales graph -->
                <div class="card bg-dark-gradient" id="numPlaceOrder">
                    <div class="card-header no-border">
                        <h3 class="card-title">
                            <i class="fa fa-th mr-1"></i>
                            注文取引数
                        </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-dark btn-sm daterange" data-toggle="tooltip" title="Date range">
                                <i class="fa fa-calendar"></i>
                            </button>
                            <button type="button" class="btn bg-dark btn-sm" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn bg-dark btn-sm" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart" id="numPlaceOrderChart" style="height: 250px;"></div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer bg-transparent">
                    </div>
                    <!-- /.card-footer -->
                    <div class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                <!-- /.card -->

                <div class="card bg-dark-gradient" id="numTransactions2salesAmount">
                    <div class="card-header no-border">
                        <h3 class="card-title">
                            <i class="fa fa-th mr-1"></i>
                            来客数と売上高
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-dark btn-sm daterange" data-toggle="tooltip" title="Date range">
                                <i class="fa fa-calendar"></i>
                            </button>
                            <button type="button" class="btn bg-dark btn-sm" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn bg-dark btn-sm" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content p-0">
                            <canvas id="numTransactions2salesAmountChart" height="250"></canvas>
                        </div>
                    </div><!-- /.card-body -->
                </div>

                <!-- TABLE: LATEST ORDERS -->
                <div class="card latestOrders">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">Latest Orders</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>Order Number</th>
                                        <th>Order Date</th>
                                        <th>Item</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <!-- <a href="#" class="btn btn-sm btn-info float-left">Place New Order</a> -->
                        <a target="_blank" href="/orders" class="btn btn-sm btn-secondary float-right">View All Orders</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
                <!-- /.card -->
            </section>
            <!-- /.Left col -->

            <!-- right col (We are only adding the ID to make the widgets sortable)-->
            <section class="col-lg-5 connectedSortable">
                <!-- solid sales graph -->
                <div class="card bg-primary-gradient" id="salesAmount">
                    <div class="card-header no-border">
                        <h3 class="card-title">
                            <i class="fa fa-th mr-1"></i>
                            売上高
                        </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-primary btn-sm daterange" data-toggle="tooltip" title="Date range">
                                <i class="fa fa-calendar"></i>
                            </button>
                            <button type="button" class="btn bg-primary btn-sm" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn bg-primary btn-sm" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart" id="salesAmountChart" style="height: 250px;"></div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer bg-transparent">
                        <div class="row mb-2">
                            <ul class="nav nav-pills ml-auto mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link bg-transparent active show" href="#salesAmountByPaymentMethod"
                                        data-toggle="tab">決済方法</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-transparent" href="#salesAmountByClient" data-toggle="tab">クライアント</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-transparent" href="#salesAmountBySeller" data-toggle="tab">販売者</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content p-0">
                            <!-- Morris chart - Sales -->
                            <div class="chart tab-pane active show" id="salesAmountByPaymentMethod">
                                <div class="row">
                                    <% Object.keys(PaymentMethodType).forEach(function(key) { %>
                                    <div class="col-4 text-center">
                                        <input type="text" class="knob byPaymentMethod" data-paymentMethod="<%= PaymentMethodType[key] %>"
                                            data-readonly="true" value="0" data-width="60" data-height="60"
                                            data-fgColor="#86c0ff">
                                        <div class="text-white">
                                            <%= PaymentMethodType[key] %>
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                    <% }) %>
                                    <div class="col-4 text-center">
                                        <input type="text" class="knob byPaymentMethod" data-paymentMethod="undefined"
                                            data-readonly="true" value="0" data-width="60" data-height="60"
                                            data-fgColor="#86c0ff">
                                        <div class="text-white">
                                            Unknown
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                            </div>
                            <div class="chart tab-pane" id="salesAmountByClient">
                                <div class="row">
                                    <% userPoolClients.forEach(function(userPoolClient) { %>
                                    <div class="col-4 text-center">
                                        <input type="text" class="knob byClient" data-clientId="<%= userPoolClient.ClientId %>"
                                            data-readonly="true" value="0" data-width="60" data-height="60"
                                            data-fgColor="#86c0ff">
                                        <div class="text-white">
                                            <%= userPoolClient.ClientName %>
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                    <% }) %>
                                </div>
                            </div>
                            <div class="chart tab-pane" id="salesAmountBySeller">
                                <div class="row">
                                    <% sellers.forEach(function(seller) { %>
                                    <div class="col-4 text-center">
                                        <input type="text" class="knob bySeller" data-sellerId="<%= seller.id %>"
                                            data-readonly="true" value="0" data-width="60" data-height="60"
                                            data-fgColor="#86c0ff">
                                        <div class="text-white">
                                            <%= seller.name.ja %>
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                    <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                    <div class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                <!-- /.card -->

                <!-- solid sales graph -->
                <div class="card bg-info-gradient" id="numOrderItems">
                    <div class="card-header no-border">
                        <h3 class="card-title">
                            <i class="fa fa-th mr-1"></i>
                            注文アイテム数
                        </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-info btn-sm daterange" data-toggle="tooltip" title="Date range">
                                <i class="fa fa-calendar"></i>
                            </button>
                            <button type="button" class="btn bg-info btn-sm" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn bg-info btn-sm" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart" id="numOrderItemsChart" style="height: 250px;"></div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer bg-transparent">
                        <div class="row mb-2">
                            <ul class="nav nav-pills ml-auto mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link bg-transparent active show" href="#numOrderItemsByPaymentMethod"
                                        data-toggle="tab">決済方法</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-transparent" href="#numOrderItemsByClient" data-toggle="tab">クライアント</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link bg-transparent" href="#numOrderItemsBySeller" data-toggle="tab">販売者</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content p-0">
                            <!-- Morris chart - Sales -->
                            <div class="chart tab-pane active show" id="numOrderItemsByPaymentMethod">
                                <div class="row">
                                    <% Object.keys(PaymentMethodType).forEach(function(key) { %>
                                    <div class="col-4 text-center">
                                        <input type="text" class="knob byPaymentMethod" data-paymentMethod="<%= PaymentMethodType[key] %>"
                                            data-readonly="true" value="0" data-width="60" data-height="60"
                                            data-fgColor="#39CCCC">
                                        <div class="text-white">
                                            <%= PaymentMethodType[key] %>
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                    <% }) %>
                                    <div class="col-4 text-center">
                                        <input type="text" class="knob byPaymentMethod" data-paymentMethod="undefined"
                                            data-readonly="true" value="0" data-width="60" data-height="60"
                                            data-fgColor="#39CCCC">
                                        <div class="text-white">
                                            Unknown
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <div class="chart tab-pane" id="numOrderItemsByClient">
                                <div class="row">
                                    <% userPoolClients.forEach(function(userPoolClient) { %>
                                    <div class="col-4 text-center">
                                        <input type="text" class="knob byClient" data-clientId="<%= userPoolClient.ClientId %>"
                                            data-readonly="true" value="0" data-width="60" data-height="60"
                                            data-fgColor="#39CCCC">
                                        <div class="text-white">
                                            <%= userPoolClient.ClientName %>
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                    <% }) %>
                                </div>
                                <!-- /.row -->
                            </div>
                            <div class="chart tab-pane" id="numOrderItemsBySeller">
                                <div class="row">
                                    <% sellers.forEach(function(seller) { %>
                                    <div class="col-4 text-center">
                                        <input type="text" class="knob bySeller" data-sellerId="<%= seller.id %>"
                                            data-readonly="true" value="0" data-width="60" data-height="60"
                                            data-fgColor="#39CCCC">
                                        <div class="text-white">
                                            <%= seller.name.ja %>
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                    <% }) %>
                                </div>
                                <!-- /.row -->
                            </div>
                        </div>
                    </div>
                    <!-- /.card-footer -->
                    <div class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>
                <!-- /.card -->

                <!-- Calendar -->
                <div class="card bg-success-gradient">
                    <div class="card-header no-border">

                        <h3 class="card-title">
                            <i class="fa fa-calendar"></i>
                            Calendar
                        </h3>
                        <!-- tools card -->
                        <div class="card-tools">
                            <!-- button with a dropdown -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i></button>
                                <div class="dropdown-menu float-right" role="menu">
                                    <a href="#" class="dropdown-item">Add new event</a>
                                    <a href="#" class="dropdown-item">Clear events</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">View calendar</a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-success btn-sm" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-sm" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                        <!-- /. tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <!--The calendar -->
                        <div id="calendar" style="width: 100%"></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </section>
            <!-- right col -->
        </div>
        <!-- /.row (main row) -->

    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- ChartJS 1.0.1 -->
<script src="/node_modules/admin-lte/plugins/chart.js/Chart.min.js"></script>
<script src="/js/dashboard.js"></script>