<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 connectedSortable">
                <% movieTheaters.forEach(function(movieTheater){ %>
                    <div class="card bg-dark">
                        <div class="card-header no-border">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">
                                    <%= movieTheater.name.ja %>進行中取引数遷移</h3>
                                <!-- <a href="javascript:void(0);">View Report</a> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <p class="d-flex flex-column">
                                    <span class="text-bold text-lg">???</span>
                                    <span>Transactions Over Time</span>
                                </p>
                                <p class="ml-auto d-flex flex-column text-right">
                                    <!-- <span class="text-success">
                                    <i class="fa fa-arrow-up"></i> 12.5%
                                </span> -->
                                    <span class="text-muted">Since last 12 hours</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->

                            <div class="position-relative mb-4">
                                <canvas id="transactions-in-progress-chart-<%= movieTheater.id %>" height="200"></canvas>
                            </div>

                            <div class="d-flex flex-row justify-content-end">
                                <!-- <span class="mr-2">
                                <i class="fa fa-square text-primary"></i> This Week
                            </span>

                            <span>
                                <i class="fa fa-square text-gray"></i> Last Week
                            </span> -->
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                    <% }) %>
            </div>
            <!-- /.col-md-4 -->

            <div class="col-lg-4 connectedSortable">
                <% movieTheaters.forEach(function(movieTheater){ %>
                    <div class="card bg-dark">
                        <div class="card-header no-border">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title">
                                    <%= movieTheater.name.ja %> 分ごとの取引数</h3>
                                <!-- <a href="javascript:void(0);">View Report</a> -->
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-flex">
                                <p class="d-flex flex-column">
                                    <span class="text-bold text-lg">???</span>
                                    <span>Transactions Over Time</span>
                                </p>
                                <p class="ml-auto d-flex flex-column text-right">
                                    <!-- <span class="text-success">
                                        <i class="fa fa-arrow-up"></i> 12.5%
                                    </span> -->
                                    <span class="text-muted">Since last 12 hours</span>
                                </p>
                            </div>
                            <!-- /.d-flex -->

                            <div class="position-relative mb-4">
                                <canvas id="number-of-transactions-by-statuses-chart-<%= movieTheater.id %>" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                    <% }) %>

                        <% movieTheaters.forEach(function(movieTheater){ %>
                            <div class="card bg-dark">

                                <div class="card-header no-border">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="card-title">
                                            <%= movieTheater.name.ja %> 分ごとの平均取引金額</h3>
                                        <!-- <a href="javascript:void(0);">View Report</a> -->
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="position-relative mb-4">
                                        <canvas id="amount-average-chart-<%= movieTheater.id %>" height="200"></canvas>
                                    </div>

                                    <div class="d-flex flex-row justify-content-end">
                                        <!-- <span class="mr-2">
                                    <i class="fa fa-square text-primary"></i> This Week
                                </span>
    
                                <span>
                                    <i class="fa fa-square text-gray"></i> Last Week
                                </span> -->
                                    </div>
                                </div>
                            </div>
                            <!-- /.card -->
                            <% }) %>
            </div>
            <!-- /.col-md-4 -->

            <div class="col-lg-4 connectedSortable">
                <div class="card bg-dark">
                    <div class="card-header no-border">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">
                                タスクキュー遷移</h3>
                            <!-- <a href="javascript:void(0);">View Report</a> -->
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <p class="d-flex flex-column">
                                <span class="text-bold text-lg">???</span>
                                <span>タスクキュー数</span>
                            </p>
                            <p class="ml-auto d-flex flex-column text-right">
                                <!-- <span class="text-success">
                                        <i class="fa fa-arrow-up"></i> 12.5%
                                    </span> -->
                                <span class="text-muted">Since last 12 hours</span>
                            </p>
                        </div>
                        <!-- /.d-flex -->

                        <div class="position-relative mb-4">
                            <canvas id="task-queues-chart" height="200"></canvas>
                        </div>

                        <div class="d-flex flex-row justify-content-end">
                            <!-- <span class="mr-2">
                                    <i class="fa fa-square text-primary"></i> This Week
                                </span>
    
                                <span>
                                    <i class="fa fa-square text-gray"></i> Last Week
                                </span> -->
                        </div>
                    </div>
                </div>
                <!-- /.card -->

                <div class="card bg-dark">
                    <div class="card-header no-border">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">売上散布図</h3>
                            <!-- <a href="javascript:void(0);">View Report</a> -->
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex">
                            <p class="d-flex flex-column">
                                <span class="text-bold text-lg">???</span>
                                <span>売上</span>
                            </p>
                            <p class="ml-auto d-flex flex-column text-right">
                                <!-- <span class="text-success">
                                            <i class="fa fa-arrow-up"></i> 12.5%
                                        </span> -->
                                <span class="text-muted">Since last 3 days</span>
                            </p>
                        </div>
                        <!-- /.d-flex -->

                        <div class="position-relative mb-4">
                            <canvas id="sales-amount-chart" height="200"></canvas>
                        </div>

                        <div class="d-flex flex-row justify-content-end">
                            <!-- <span class="mr-2">
                                        <i class="fa fa-square text-primary"></i> This Week
                                    </span>
        
                                    <span>
                                        <i class="fa fa-square text-gray"></i> Last Week
                                    </span> -->
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- ChartJS 1.0.1 -->
<script src="/node_modules/admin-lte/plugins/chart.js/Chart.min.js"></script>
<!-- page script -->
<script>
    $(function () {
        var movieTheaters = JSON.parse('<%- JSON.stringify(movieTheaters) %>');
        var orders = JSON.parse('<%- JSON.stringify(orders) %>');
        var globalTelemetries = JSON.parse('<%- JSON.stringify(globalTelemetries) %>');
        var sellerTelemetries = JSON.parse('<%- JSON.stringify(sellerTelemetries) %>');
        var globalFlowTelemetries = JSON.parse('<%- JSON.stringify(globalFlowTelemetries) %>');
        var sellerFlowTelemetries = JSON.parse('<%- JSON.stringify(sellerFlowTelemetries) %>');

        var ticksStyle = {
            fontColor: '#495057',
            fontStyle: 'bold'
        }

        var mode = 'index';
        var intersect = true;

        movieTheaters.forEach(function (movieTheater) {
            var telemetriesBySellerId = sellerTelemetries.filter((telemetry) => telemetry.object.sellerId === movieTheater.id);
            var data = telemetriesBySellerId.map(function (telemetry, index) {
                return {
                    x: telemetry.result.measuredAt,
                    y: telemetry.result.transactions.numberOfUnderway
                };
            });
            var visitorsChart = new Chart($('#transactions-in-progress-chart-' + movieTheater.id), {
                type: 'line',
                data: {
                    // labels: ['12時間前', '9時間前', '6時間前', '3時間前', '0時間前'],
                    datasets: [
                        {
                            data: data,
                            backgroundColor: 'transparent',
                            borderColor: '#DAA8F5',
                            borderWidth: 1,
                            pointRadius: 2,
                            pointBorderColor: '#DAA8F5',
                            pointBackgroundColor: '#DAA8F5',
                            fill: false
                        },
                    ]
                },
                options: {
                    pointDot: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            gridLines: {
                                display: true,
                                lineWidth: 1,
                                color: '#555c62',
                                zeroLineColor: '#555c62',
                            },
                            ticks: {
                                beginAtZero: true,
                                fontColor: '#a1a6a9'
                            }
                        }],
                        xAxes: [{
                            time: {
                                unit: 'hour'
                            },
                            type: 'time',
                            display: true,
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                fontColor: '#a1a6a9'
                            }
                        }]
                    }
                }
            });
        });

        // フローデータチャート
        movieTheaters.forEach(function (movieTheater) {
            var telemetriesBySellerId = sellerFlowTelemetries.filter((telemetry) => telemetry.object.sellerId === movieTheater.id);
            var data = telemetriesBySellerId.map(function (telemetry, index) {
                return {
                    x: telemetry.result.measuredFrom,
                    y: telemetry.result.transactions.averageAmount
                };
            });
            var visitorsChart = new Chart($('#amount-average-chart-' + movieTheater.id), {
                type: 'line',
                data: {
                    // labels: ['12時間前', '9時間前', '6時間前', '3時間前', '0時間前'],
                    datasets: [
                        {
                            data: data,
                            backgroundColor: 'transparent',
                            borderColor: '#DAA8F5',
                            borderWidth: 1,
                            pointRadius: 2,
                            pointBorderColor: '#DAA8F5',
                            pointBackgroundColor: '#DAA8F5',
                            fill: false
                        },
                    ]
                },
                options: {
                    pointDot: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            gridLines: {
                                display: true,
                                lineWidth: 1,
                                color: '#555c62',
                                zeroLineColor: '#555c62',
                            },
                            ticks: {
                                beginAtZero: true,
                                fontColor: '#a1a6a9'
                            }
                        }],
                        xAxes: [{
                            time: {
                                unit: 'hour'
                            },
                            type: 'time',
                            display: true,
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                fontColor: '#a1a6a9'
                            }
                        }]
                    }
                }
            });
        });

        // 分あたりの取引数チャート
        movieTheaters.forEach(function (movieTheater) {
            var telemetriesBySellerId = sellerFlowTelemetries.filter((telemetry) => telemetry.object.sellerId === movieTheater.id);
            var dataStarted = telemetriesBySellerId.map(function (telemetry, index) {
                return {
                    x: telemetry.result.measuredFrom,
                    y: telemetry.result.transactions.numberOfStarted
                };
            });
            var dataConfirmed = telemetriesBySellerId.map(function (telemetry, index) {
                return {
                    x: telemetry.result.measuredFrom,
                    y: telemetry.result.transactions.numberOfConfirmed
                };
            });
            var dataExpired = telemetriesBySellerId.map(function (telemetry, index) {
                return {
                    x: telemetry.result.measuredFrom,
                    y: telemetry.result.transactions.numberOfExpired
                };
            });
            var visitorsChart = new Chart($('#number-of-transactions-by-statuses-chart-' + movieTheater.id), {
                type: 'line',
                data: {
                    // labels: ['12時間前', '9時間前', '6時間前', '3時間前', '0時間前'],
                    datasets: [
                        {
                            data: dataStarted,
                            backgroundColor: 'transparent',
                            borderColor: '#79F67D',
                            borderWidth: 1,
                            pointRadius: 2,
                            pointBorderColor: '#79F67D',
                            pointBackgroundColor: '#79F67D',
                            fill: false,
                            label: '開始',
                        },
                        {
                            data: dataConfirmed,
                            backgroundColor: 'transparent',
                            borderColor: '#79CCF5',
                            borderWidth: 1,
                            pointRadius: 2,
                            pointBorderColor: '#79CCF5',
                            pointBackgroundColor: '#79CCF5',
                            fill: false,
                            label: '成立',
                        },
                        {
                            data: dataExpired,
                            backgroundColor: 'transparent',
                            borderColor: '#E96C6C',
                            borderWidth: 1,
                            pointRadius: 2,
                            pointBorderColor: '#E96C6C',
                            pointBackgroundColor: '#E96C6C',
                            fill: false,
                            label: '離脱',
                        },
                    ]
                },
                options: {
                    pointDot: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: true,
                        position: 'bottom'
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            gridLines: {
                                display: true,
                                lineWidth: 1,
                                color: '#555c62',
                                zeroLineColor: '#555c62',
                            },
                            ticks: {
                                beginAtZero: true,
                                fontColor: '#a1a6a9'
                            }
                        }],
                        xAxes: [{
                            time: {
                                unit: 'hour'
                            },
                            type: 'time',
                            display: true,
                            gridLines: {
                                display: false
                            },
                            ticks: {
                                fontColor: '#a1a6a9'
                            }
                        }]
                    }
                }
            });
        });

        // タスクキューチャート
        var data = globalTelemetries.map(function (telemetry, index) {
            return {
                x: telemetry.result.measuredAt,
                y: telemetry.result.tasks.numberOfUnexecuted
            };
        });
        var taskQueuesChart = new Chart($('#task-queues-chart'), {
            type: 'line',
            data: {
                // labels: ['12時間前', '9時間前', '6時間前', '3時間前', '0時間前'],
                datasets: [
                    {
                        data: data,
                        backgroundColor: 'transparent',
                        borderColor: '#DAA8F5',
                        borderWidth: 1,
                        pointRadius: 2,
                        pointBorderColor: '#DAA8F5',
                        pointBackgroundColor: '#DAA8F5',
                        fill: false
                    },
                ]
            },
            options: {
                pointDot: true,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        display: true,
                        gridLines: {
                            display: true,
                            lineWidth: 1,
                            color: '#555c62',
                            zeroLineColor: '#555c62',
                        },
                        ticks: {
                            beginAtZero: true,
                            fontColor: '#a1a6a9'
                        }
                    }],
                    xAxes: [{
                        time: {
                            unit: 'hour'
                        },
                        type: 'time',
                        display: true,
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            fontColor: '#a1a6a9'
                        }
                    }]
                }
            }
        });

        // 売上散布チャート
        var data = orders.map(function (order, index) {
            return {
                x: moment().format('YYYY-MM-DDT') + moment(order.orderDate).format('hh:mm:ssZ'),
                y: order.price
            };
        });
        var taskQueuesChart = new Chart($('#sales-amount-chart'), {
            type: 'scatter',
            data: {
                // labels: ['12時間前', '9時間前', '6時間前', '3時間前', '0時間前'],
                datasets: [
                    {
                        data: data,
                        backgroundColor: 'transparent',
                        borderColor: '#DAA8F5',
                        borderWidth: 1,
                        pointRadius: 2,
                        pointBorderColor: '#DAA8F5',
                        pointBackgroundColor: '#DAA8F5',
                        fill: false
                    },
                ]
            },
            options: {
                pointDot: true,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        display: true,
                        gridLines: {
                            display: true,
                            lineWidth: 1,
                            color: '#555c62',
                            zeroLineColor: '#555c62',
                        },
                        ticks: {
                            beginAtZero: true,
                            fontColor: '#a1a6a9'
                        }
                    }],
                    xAxes: [{
                        type: 'time',
                        time: {
                            unit: 'hour',
                            stepSize: 1
                        },
                        display: true,
                        gridLines: {
                            display: false
                        },
                        ticks: {
                            fontColor: '#a1a6a9'
                        }
                    }]
                }
            }
        });
    });
</script>