<%
const thumbnailImageUrl = (event.workPerformed.thumbnailUrl !== undefined)
? event.workPerformed.thumbnailUrl
: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrhpsOJOcLBwc1SPD9sWlinildy4S05-I2Wf6z2wRXnSxbmtRz';
%>
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">上映イベント詳細</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="/events/screeningEvent">上映イベント検索</a>
                    </li>
                    <li class="breadcrumb-item active">上映イベント詳細</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <% if (messages.message) { %>
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5>
                <i class="icon fa fa-check"></i> Congraturations!</h5>
            <%= messages.message %>
        </div>
        <% } %>

        <% if (message) { %>
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%- message.replace(/\n/g, '<br>') %>
        </div>
        <% } %>

        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="card card-dark card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="<%= thumbnailImageUrl %>" alt="Thumbnail">
                        </div>

                        <h3 class="profile-username text-center">
                            <%= event.name.ja %>
                        </h3>

                        <p class="text-muted text-center">
                            <%= event.name.en %>
                        </p>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b>Orders</b> <a class="float-right" id="orderCount"></a>
                            </li>
                        </ul>

                        <!-- <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- About Me Box -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">About</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <strong><i class="fa fa-info mr-1"></i> Name</strong>
                        <p class="text-muted">
                            <%= event.name.ja %><br>
                            <%= event.name.en %>
                        </p>
                        <hr>

                        <strong><i class="fa fa-info mr-1"></i> SuperEvent</strong>
                        <p class="text-muted">
                            <%= event.superEvent.name.ja %><br>
                            <%= event.superEvent.name.en %><br>
                            <%= event.superEvent.alternativeHeadline %>
                        </p>
                        <hr>

                        <strong><i class="fa fa-map-marker mr-1"></i> Location</strong>
                        <p class="text-muted">
                            <%= event.superEvent.location.name.ja %><br>
                            <%= event.location.name.ja %><br>
                            <%= event.maximumAttendeeCapacity %>席
                        </p>
                        <hr>

                        <strong><i class="fa fa-film mr-1"></i> Movie</strong>
                        <p class="text-muted">
                            <%= event.workPerformed.name %><br>
                            <%= event.workPerformed.alternativeHeadline %><br>
                            <%= moment.duration(event.workPerformed.duration).asMinutes() %> minutes
                        </p>
                        <hr>

                        <strong><i class="fa fa-clock mr-1"></i> Date</strong>
                        <p class="text-muted">
                            <%= event.startDate %> -
                            <%= event.endDate %>
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#remainingAttendeeCapacity"
                                    data-toggle="tab">残席数遷移</a></li>
                            <li class="nav-item"><a class="nav-link" href="#orders" data-toggle="tab">注文履歴</a></li>
                            <li class="nav-item"><a class="nav-link" href="#jsonViewer" data-toggle="tab">JSON Viewer</a></li>
                            <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                            <li class="nav-item"><a class="nav-link" href="#others" data-toggle="tab">その他の操作</a></li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="remainingAttendeeCapacity">
                                <div class="card bg-dark-gradient">
                                    <div class="card-header no-border">
                                        <h3 class="card-title">
                                        </h3>

                                        <div class="card-tools">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="chart" id="remainingAttendeeCapacityChart2" style="height: 400px;"></div>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>

                            <div class="tab-pane" id="orders">
                                <div class="table-responsive">
                                    <table class="table m-0">
                                        <thead>
                                            <tr>
                                                <th>Order Number</th>
                                                <th>Order Date</th>
                                                <th>Item</th>
                                                <th>Payment Method</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>

                            <div class="tab-pane" id="jsonViewer">
                                <div class="form-group">
                                    <textarea class="form-control" rows="20" placeholder="" disabled=""><%= JSON.stringify(event, null, '\t') %></textarea>
                                </div>
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="settings">
                                <!-- form start -->
                                <form role="form" method="post">
                                </form>
                            </div>
                            <!-- /.tab-pane -->

                            <div class="tab-pane" id="others">
                                <!-- general form elements -->
                                <div class="card card-primary">
                                    <!-- <div class="card-header">
                                        <h3 class="card-title">その他の操作</h3>
                                    </div> -->
                                    <!-- /.card-header -->

                                    <div class="card-body">
                                        <!-- <button type="button" class="delete btn btn-danger">削除する</button> -->
                                    </div>
                                    <!-- /.card-body -->
                                    <!-- <div class="card-footer">
                                        </div> -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

            </div>
            <!-- /.col (RIGHT) -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- DataTables -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap4.css">
<!-- ChartJS 1.0.1 -->
<script src="/node_modules/admin-lte/plugins/chart.js/Chart.min.js"></script>
<script src="/js/events/screeningEvent/show.js"></script>