<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">注文返品取引検索</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">注文返品取引検索</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <!-- <div class="card-header">
                        <h3 class="card-title">Quick Example</h3>
                    </div> -->
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="get">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="object[order][orderNumbers]">注文番号</label>
                                        <input type="text" class="form-control" id="object[order][orderNumbers]" name="object[order][orderNumbers]"
                                            placeholder="注文番号" value="<%= (Array.isArray(searchConditions.object.order.orderNumbers)) ? searchConditions.object.order.orderNumbers.join(',') : '' %>">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>取引開始日時</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" name="startRange" id="startRange"
                                                value="<%= moment(searchConditions.startFrom).format('YYYY-MM-DDT00:00:00Z') %> - <%= moment(searchConditions.startThrough).format('YYYY-MM-DDT00:00:00Z') %>">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <div class="form-group">
                                        <label>ステータス</label>
                                        <select multiple class="form-control" name="statuses[]">
                                            <% transactionStatusChoices.forEach(function (transactionStatus) { %>
                                            <% var selected = searchConditions.statuses.indexOf(transactionStatus) >= 0; %>
                                            <option value="<%= transactionStatus %>" <% if (selected) { %> selected
                                                <% } %>>
                                                <%= transactionStatus %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>タスクエクスポートステータス</label>
                                        <select multiple class="form-control" name="tasksExportationStatuses[]">
                                            <% Object.values(TransactionTasksExportationStatus).forEach(function (status) { %>
                                            <% var selected = searchConditions.tasksExportationStatuses.indexOf(status) >= 0; %>
                                            <option value="<%= status %>" <% if (selected) { %> selected
                                                <% } %>>
                                                <%= status %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="btn-group float-right">
                                <button type="button" class="btn btn-info search">検索</button>
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu" role="menu">
                                    <a class="dropdown-item search" href="#">検索</a>
                                    <a class="dropdown-item downloadCSV" href="#">CSVダウンロード</a>
                                    <!-- <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">検索結果</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table id="transactions-table" class="table table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>ID<br>Status<br>Start<br>End<br>Expires</th>
                                    <th>処理者</th>
                                    <th>販売者</th>
                                    <th>対象</th>
                                    <th>タスクエクスポート</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID<br>Status<br>Start<br>End<br>Expires</th>
                                    <th>処理者</th>
                                    <th>販売者</th>
                                    <th>対象</th>
                                    <th>タスクエクスポート</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- DataTables -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap4.css">

<!-- daterange picker -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/daterangepicker/daterangepicker-bs3.css">

<script src="/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/js/transactions/returnOrder/index.js"></script>