<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">注文検索</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">注文検索</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-default">
                    <!-- <div class="card-header">
                        <h3 class="card-title">Select2</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div> -->
                    <form role="form" method="get">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="customer[membershipNumbers]">購入者会員番号</label>
                                        <input type="text" class="form-control" id="customer[membershipNumbers]" name="customer[membershipNumbers]"
                                            placeholder="購入者会員番号" value="<%= searchConditions.customer.membershipNumbers.join(',') %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="customer[ids]">購入者ID</label>
                                        <input type="text" class="form-control" id="customer[ids]" name="customer[ids]"
                                            placeholder="購入者ID" value="<%= searchConditions.customer.ids.join(',') %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="customer[ids]">購入者TEL</label>
                                        <input type="text" class="form-control" id="customer[telephone]" name="customer[telephone]"
                                            placeholder="購入者TEL" value="<%= searchConditions.customer.telephone %>">
                                    </div>
                                    <div class="form-group">
                                        <label>購入クライアント</label>
                                        <select multiple class="form-control" name="customer[userPoolClients][]">
                                            <% userPoolClients.forEach(function (userPoolClient) { %>
                                            <% 
                                            var selected = false;
                                            if (searchConditions.customer !== undefined && searchConditions.customer.identifiers !== undefined) {
                                                selected = searchConditions.customer.identifiers.filter((identifier)=>identifier.name==='clientId'&& identifier.value===userPoolClient.ClientId).length > 0;
                                            }
                                            %>
                                            <option value="<%= userPoolClient.ClientId %>" <% if (selected) { %>
                                                selected
                                                <% } %>>
                                                Customer -
                                                <%= userPoolClient.ClientName %>
                                            </option>
                                            <% }) %>

                                            <% adminUserPoolClients.forEach(function (userPoolClient) { %>
                                            <% 
                                            var selected = false;
                                            if (searchConditions.customer !== undefined && searchConditions.customer.identifiers !== undefined) {
                                                selected = searchConditions.customer.identifiers.filter((identifier)=>identifier.name==='clientId'&& identifier.value===userPoolClient.ClientId).length > 0;
                                            }
                                            %>
                                            <option value="<%= userPoolClient.ClientId %>" <% if (selected) { %>
                                                selected
                                                <% } %>>
                                                Admin -
                                                <%= userPoolClient.ClientName %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>販売者</label>
                                        <select multiple class="form-control" name="seller[ids][]">
                                            <% movieTheaters.forEach(function (movieTheater) { %>
                                            <% var selected = searchConditions.seller.ids.indexOf( movieTheater.id) >= 0; %>
                                            <option value="<%= movieTheater.id %>" <% if (selected) { %> selected
                                                <% } %>>
                                                <%= movieTheater.name.ja %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="confirmationNumbers">確認番号</label>
                                        <input type="text" class="form-control" id="confirmationNumbers" name="confirmationNumbers"
                                            placeholder="確認番号" value="<%= searchConditions.confirmationNumbers.join(',') %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="orderNumbers">注文番号</label>
                                        <input type="text" class="form-control" id="orderNumbers" name="orderNumbers"
                                            placeholder="注文番号" value="<%= searchConditions.orderNumbers.join(',') %>">
                                    </div>
                                    <div class="form-group">
                                        <label>注文日時</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" name="orderDateRange" id="orderDateRange"
                                                value="<%= moment(searchConditions.orderDateFrom).format('YYYY-MM-DDT00:00:00Z') %> - <%= moment(searchConditions.orderDateThrough).format('YYYY-MM-DDT00:00:00Z') %>">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <div class="form-group">
                                        <label>注文ステータス</label>
                                        <select multiple class="form-control" name="orderStatuses[]">
                                            <% orderStatusChoices.forEach(function (orderStatus) { %>
                                            <% var selected = searchConditions.orderStatuses.indexOf(orderStatus) >= 0; %>
                                            <option value="<%= orderStatus %>" <% if (selected) { %> selected
                                                <% } %>>
                                                <%= orderStatus %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>決済方法</label>
                                        <select multiple class="form-control" name="paymentMethods[typeOfs][]">
                                            <% Object.values(PaymentMethodType).forEach(function (paymentMethod) { %>
                                            <%
                                            var selected = false;
                                            if (searchConditions.paymentMethods !== undefined && searchConditions.paymentMethods.typeOfs !== undefined) {
                                                selected = searchConditions.paymentMethods.typeOfs.indexOf(paymentMethod) >= 0;
                                            }
                                            %>
                                            <option value="<%= paymentMethod %>" <% if (selected) { %>
                                                selected
                                                <% } %>>
                                                <%= paymentMethod %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="orderNumbers">決済ID</label>
                                        <input type="text" class="form-control" id="paymentMethods[paymentMethodIds]"
                                            name="paymentMethods[paymentMethodIds]" placeholder="カンマ区切りで、GMO取引ID、口座番号など"
                                            value="<%= searchConditions.paymentMethods.paymentMethodIds.join(',') %>">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="acceptedOffers[itemOffered][reservationFor][ids]">上映イベントID</label>
                                        <input type="text" class="form-control" id="acceptedOffers[itemOffered][reservationFor][ids]"
                                            name="acceptedOffers[itemOffered][reservationFor][ids]" placeholder="予約イベントID"
                                            value="<%= searchConditions.acceptedOffers.itemOffered.reservationFor.ids.join(',') %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="acceptedOffers[itemOffered][reservationFor][superEvent][ids]">上映イベントシリーズID</label>
                                        <input type="text" class="form-control" id="acceptedOffers[itemOffered][reservationFor][superEvent][ids]"
                                            name="acceptedOffers[itemOffered][reservationFor][superEvent][ids]"
                                            placeholder="上映イベントシリーズID" value="<%= searchConditions.acceptedOffers.itemOffered.reservationFor.superEvent.ids.join(',') %>">
                                    </div>

                                    <div class="form-group">
                                        <label for="acceptedOffers[itemOffered][reservationFor][superEvent][workPerformed][identifiers]">作品コード</label>
                                        <input type="text" class="form-control" id="acceptedOffers[itemOffered][reservationFor][superEvent][workPerformed][identifiers]"
                                            name="acceptedOffers[itemOffered][reservationFor][superEvent][workPerformed][identifiers]"
                                            placeholder="作品コード" value="<%= searchConditions.acceptedOffers.itemOffered.reservationFor.superEvent.workPerformed.identifiers.join(',') %>">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-secondary float-right">検索</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">注文検索結果</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table id="orders-table" class="table table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>注文番号
                                        <br>
                                        <span class="text-muted">確認番号</span>
                                    </th>
                                    <th>Customer</th>
                                    <th>Seller</th>
                                    <th>Price</th>
                                    <th>決済方法</th>
                                    <th>割引</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>注文番号
                                        <br>
                                        <span class="text-muted">確認番号</span>
                                    </th>
                                    <th>Customer</th>
                                    <th>Seller</th>
                                    <th>Price</th>
                                    <th>決済方法</th>
                                    <th>割引</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- DataTables -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap4.css">

<!-- daterange picker -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/daterangepicker/daterangepicker-bs3.css">

<script src="/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/js/orders/index.js"></script>