<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">タスク検索</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">タスク検索</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-default">
                    <!-- <div class="card-header">
                        <h3 class="card-title">Select2</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div> -->
                    <form role="form" method="get">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>タスク名</label>
                                        <select size="10" class="form-control" name="name">
                                            <% taskNameChoices.forEach(function (taskName) { %>
                                            <% var selected = searchConditions.name === taskName %>
                                            <option value="<%= taskName %>" <% if (selected) { %> selected
                                                <% } %>>
                                                <%= taskName %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>実行日時</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" name="runsRange" id="runsRange"
                                                value="<%= moment(searchConditions.runsFrom).format('YYYY-MM-DDT00:00:00Z') %> - <%= moment(searchConditions.runsThrough).format('YYYY-MM-DDT00:00:00Z') %>">
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <div class="form-group">
                                        <label>タスクステータス</label>
                                        <select multiple class="form-control" name="statuses[]">
                                            <% taskStatusChoices.forEach(function (taskStatus) { %>
                                            <% var selected = searchConditions.statuses.indexOf(taskStatus) >= 0; %>
                                            <option value="<%= taskStatus %>" <% if (selected) { %> selected
                                                <% } %>>
                                                <%= taskStatus %>
                                            </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-secondary float-right">検索</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">検索結果</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table id="tasks-table" class="table table-bordered table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>ID<br>Name<br>残試行回数 / 試行回数</span>
                                    </th>
                                    <th>実行日時<br>最終試行日時</th>
                                    <th>Status</th>
                                    <th>Data</th>
                                    <th>実行結果</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID<br>Name<br>残試行回数 / 試行回数</span>
                                    </th>
                                    <th>実行日時<br>最終試行日時</th>
                                    <th>Status</th>
                                    <th>Data</th>
                                    <th>実行結果</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<!-- DataTables -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/datatables/dataTables.bootstrap4.css">

<!-- daterange picker -->
<link rel="stylesheet" href="/node_modules/admin-lte/plugins/daterangepicker/daterangepicker-bs3.css">

<script src="/node_modules/admin-lte/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/js/tasks/index.js"></script>